@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100,300";
.log, .il, .cl {
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
  text-shadow: 1px 0 0 #f00, -1px 0 0 #0ff;
  display: inline;
}
body {
  color: #fff;
  background: #000;
  height: 100vh;
  margin: 0;
}
.i {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
.inv {
  position: relative;
  animation: caret-plain 1s step-end 0s infinite;
}
.inv.hl {
  animation: caret-select 1s step-end 0s infinite;
}
.inv.rev.hl {
  animation: caret-rev-select 1s step-end 0s infinite;
}
@-webkit-keyframes caret-plain {
  0% {
    color: #000;
    background: #fff;
    text-shadow: 1px 0 0 #0ff, -1px 0 0 #f00;
  }
  50% {
    color: #fff;
    background: #000;
    text-shadow: 1px 0 0 #f00, -1px 0 0 #0ff;
  }
}
@-webkit-keyframes caret-select {
  0% {
    color: #000;
    background: #0f0;
    text-shadow: 1px 0 0 #0f0, -1px 0 0 #f0f;
  }
  50% {
    color: #fff;
    background: #000;
    text-shadow: 1px 0 0 #f00, -1px 0 0 #0ff;
  }
}
@-webkit-keyframes caret-rev-select {
  0% {
    color: #000;
    background: #f00;
    text-shadow: 1px 0 0 #008, -1px 0 0 #800;
  }
  50% {
    color: #fff;
    background: #000;
    text-shadow: 1px 0 0 #f00, -1px 0 0 #0ff;
  }
}
